// COLORES

$principal: #023047;
$azulOscuro:#001D3D;
$azulClaro: #003566;
$celeste:#219EBC;
$claro: #fff;
$amarilloOscuro: #FFC300;
$verde: #20BF55;
$verdeOscuro: #085823;
$rojo:#ff0000;
$font-size: 1.5rem;